<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Rental Manager</h1>
<ul>
    <li><a href="/apartments/">apartamenty</a> </li>
    <li><a href="/add_apartment/">dodaj apartament</a> </li>
    <li><a href="/edit_apartment/">edytuj apartament</a> </li>
    <li><a href="/delete_apartment/">usuń apartament</a> </li>

</ul>
<p>
{% block zawartosc %}
    Ta strona bedzie aktualizowana
{% endblock %}

{% block ppp %}
    Ta strona bedzie aktualizowana
{% endblock %}
</p>
</body>
</html>

